html, body {
	width		: 100vw;
	max-width	: 100vw;
	min-height	: 100vh;
	height		: auto;
	padding		: 0px;
	border		: 0px;
	margin		: 0px;
}

div, span, p, a, h1, h2, h3, h4, h5, h6, label, input, form {
	width		: 0px;
	height		: 0px;
	padding		: 0px;
	border		: 0px;
	margin		: 0px;
}

#page-container {
	width		: calc(100%-10px);
	max-width	: calc(100%-10px);
	min-height	: calc(100%-10px);
	height		: calc(100%-10px);
}

/* Header */
#header {
	width		: 100%;
	max-width	: 100%;
	min-height	: 200px;
	height		: auto;
}

#web-banner, #page-title, #board-promo, #top-banner, #bottom-banner, #make-post, #make-thread {
	width	: fit-content;
	height	: fit-content;
	margin	: 0 auto;
}

#make-post, #make-thread {
	margin-top		: 5px;
	margin-bottom	: 5px;
}

#changelog {
	min-width		: 100px;
	width			: fit-content;
	max-width		: 450px;
	min-height		: 100px;
	height			: fit-content;
	max-height		: 6em;
	border-style	: solid;
	border-width	: 1px;
	margin			: 0 auto;
}

.ad-banner {
	width	: fit-content;
	height	: fit-content;
}

/* Navi */
.navi {
	position	: relative;
	width		: 100%;
	max-width	: 100%;
	min-height	: 1px;
	height		: 2em;
}

.board-list {
	/*position	: absolute;*/
	width		: fit-content;
	min-height	: 1em;
	margin		: 2px;
	float		: left;
}

.navi-options {
	/*position	: absolute;*/
	width		: fit-content;
	min-height	: 1em;
	margin		: 2px;
	float		: right;
}

/* Footer */
#footer {
	width		: 100%;
	max-width	: 100%;
	height		: auto;
	bottom		: 0px;
}

#style-select {
	width	: fit-content;
	height	: fit-content;
	margin	: 5px;
	float	: right;
}

#legal-and-about {
	width		: fit-content;
	max-width	: 400px;
	height		: fit-content;
	max-height	: 6em;
	margin		: 0 auto;
}

#bottom	{
	width	: 100%;
	height	: 1px;
}

/* Content */
#content-wrap {
	width		: fit-content;
	max-width	: 100vw;
	min-height	: 200px;
	height		: auto;
}

/* Home Index */

/* Board */

/* Thread */

/* Post */

/* Catalog */
#catalog {
	display			: flex;
	flex-wrap		: wrap;
	align-items		: center;
	justify-content	: center;
	width			: auto;
	height			: auto;
}

.catalog-item {
	width		: 200px;
	height		: fit-content;
	max-height	: 250px;
	margin		: 15px;
}

.preview-thumb {
	width		: fit-content;
	max-width	: 125px;
	height		: fit-content;
	max-height	: 125px;
	margin		: 0 auto;
	margin-top	: 10px;
}

.thread-stats {
	width	: fit-content;
	height	: 1em;
	margin	: 10px auto;
}

.thread-title {
	width		: fit-content;
	max-width	: 190px;
	height		: fit-content;
	margin		: 0 auto;
}

.preview-op {
	width			: fit-content;
	max-width		: 190px;
	height			: fit-content;
	max-height		: 3.2em;
	margin			: 0 auto;
	margin-bottom	: 5px;
	overflow		: hidden;
}

/* tooltip */
.tooltip {
	position	: relative;
	display		: inline-block;
	width		: fit-content;
	height		: fit-content;
	margin		: auto 0;
}

.tooltip .tooltiptext {
	visibility			: hidden;
	width				: fit-content;
	height				: fit-content;
	background-color	: black;
	text-align			: center;
	padding				: 5px 0;
	border-radius		: 6px;
	position			: absolute;
	z-index				: 1;
}

.tooltip:hover .tooltiptext {
	visibility	: visibility;
}

/* Thread */
.thread {
	width	: fit-content;
	height	: fit-content;
}

/* Post */
.post-container {
	width	: fit-content;
	height	: fit-content;
	margin	: 5px;
	gap		: 5px;
}

.post-top {
	width		: fit-content;
	min-height	: 1.1em;
	height		: fit-content;
}

.post-info {
	width		: fit-content;
	height		: fit-content;
	max-height	: 1em;
	padding		: 2px;
	float		: left;
}

.replies {
	width		: fit-content;
	max-width	: 200px;
	height		: fit-content;
	max-height	: 3em;
	padding		: 2px;
	float		: left;
}

.post-datetime, .post-title, .post-name, .post-num, .reply .menu-drop-down{
	width	: fit-content;
	height	: fit-content;
}

.post-content {
	width			: fit-content;
	height			: fit-content;
	margin-bottom	: 5px;
	overflow		: hidden;
}

.file-container {
	width		: fit-content;
	height		: fit-content;
	margin-left	: 15px;
	float	: left;
}

.file-info {
	width	: fit-content;
	height	: fit-content;
}

.file {
	width			: fit-content;
	height			: fit-content;
	margin			: 5px 0;
	margin-right	: 10px;
	float			: left
}

.message {
	width		: fit-content;
	height		: fit-content;
	margin-top	: 30px;
	float 		: left;
}

/* Message MarkDown */
.quote {
	width	: fit-content;
	height	: fit-content;
}

.quote {
	color	: #00CC44;
}
